<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Add Transaksi</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h3 class="text-center">Add Transaksi</h3>
      <form action="/add-transactions" method="post" class="w-75 mx-auto">
        <div class="mb-3">
          <label class="" for="cars">User:</label>
          <select name="userId" class="rounded">
            <% for (user of users) { %>
            <option value="<%= user.id %>"><%= user.username %></option>
            <% } %>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label">Product ID</label>
          <input
            type="text"
            class="form-control"
            name="productId"
            placeholder="Id Product"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Amount</label>
          <input
            type="number"
            class="form-control"
            placeholder="Jumlah"
            name="amount"
          />
        </div>
        <button type="submit" class="btn btn-sm btn-success">Submit</button>
      </form>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
