<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Form Edit</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container pt-5">
      <h3 class="mb-3">Edit Transaksi</h3>
      <form action="/transactions" method="post">
        <input type="hidden" name="_method" value="patch" />
        <input type="hidden" name="id" value="<%= transaction.id %>" />
        <div class="mb-3">
          <label class="form-label">User ID</label>
          <input
            type="text"
            class="form-control"
            name="userId"
            value="<%= transaction.userId %>"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Product ID</label>
          <input
            type="text"
            class="form-control"
            name="productId"
            value="<%= transaction.productId %>"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Amount</label>
          <input
            type="number"
            class="form-control"
            name="amount"
            value="<%= transaction.amount %>"
          />
        </div>
        <button class="btn-success btn" type="submit" class="btn">
          Submit
        </button>
      </form>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
