<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Data Transaksi</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container pt-5">
      <h3 class="mb-2">Transaction Data</h3>
      <a class="btn btn-primary" href="/add-transactions">Add transaction</a>

      <table class="table table-hover mt-3">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Date</th>
            <th scope="col">Username</th>
            <th scope="col">Product</th>
            <th scope="col">Amount</th>
            <th class="text-center" scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% for (index in transactions) { %>
          <tr>
            <th scope="row"><%= (Number(index) + 1)%></th>
            <td><%= transactions[index].createdAt %></td>
            <td><%= transactions[index].User.username %></td>
            <td><%= transactions[index].Product.name %></td>
            <td><%= transactions[index].amount %></td>
            <td class="text-center">
              <a
                class="btn btn-sm btn-info"
                href="/edit-transactions/<%= transactions[index].id %>"
                >Update</a
              >
              <form
                action="/delete-transactions/<%= transactions[index].id %>"
                method="post"
              >
                <button class="btn btn-danger" type="submit">Delete</button>
              </form>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
